@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:300|Quicksand:400,500,700');

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	width: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	background-color: #fff;
	font-size: 25px;
}

#about {
	text-align: center;
	padding-bottom: 1px;
}

.abouth {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
	padding-left: 15%;
	padding-right: 15%;
	margin: 0;
}

	.abouth h3 {
		font-size: 30px;
		text-align: center;
		margin: 0;
		padding-bottom: 25px;
	}

	.abouth p {
		text-align: justify;
	}

.aboutimg {
	width: 100px;
	height: 300px;
	float: right;
	margin-left: 30px;
	object-fit: cover;
}

#services {
	text-align: center;
	background-color: #152238;
	padding-bottom: 1px;
}

.servicesh {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
	color: #bebebe;
	padding-left: 15%;
	padding-right: 15%;
	margin: 0;
}

	.servicesh h3 {
		font-size: 30px;
		margin: 0;
		padding-bottom: 25px;
	}

	.servicesh span {
		font-size: 22.5px;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}


#projects {
	text-align: center;
	padding-bottom: 1px;
}

.projectsh {
	font-family: 'Roboto', sans-serif;
	text-align: justify;
	padding-top: 70px;
	padding-bottom: 70px;
	padding-left: 15%;
	padding-right: 15%;
	margin: 0;
}

	.projectsh h3 {
		font-size: 30px;
		text-align: center;
		margin: 0;
		padding-bottom: 25px;
	}

#contact {
	text-align: center;	
	background-color: #152238;
	padding-bottom: 1px;
}

	#contact a:link {
		color: #bebebe;
	}

	#contact a:visited {
		color: #bebebe;
	}	

	#contact a:hover {
		color: #00E676;
		text-decoration: none;
	}

.contacth {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	padding-top: 70px;
	padding-bottom: 70px;
	padding-left: 15%;
	padding-right: 15%;
	background-color: #152238;
	color: #bebebe;
	margin: 0;
}

.home {
	width: 100%;
	height: 50vh;
	background-position: center top;
	background-size: cover;
	padding-top: 25vh;
	padding-bottom: 10vh;
	background-color: #152238;
}

.header {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	flex: 2;
}

.name {
	border-top: transparent;
	border-left: transparent;
	border-bottom: transparent;
	border-right: 1px solid #626972;
	display: flex;
	flex: 1;
	justify-content: flex-end;
	padding-right: 115px;
	align-items: center;
}

	.name p {
		font-family: 'Roboto', sans-serif;
		font-size: 60px;
		color: #d0d0d0;
		line-height: 1.5;
		letter-spacing: 4.8px;
	}

.description {
	color: #bebebe;
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 115px;
}

.oneLiner {
	display: flex;
	font-family: 'Open Sans', sans-serif;
	font-size: 37.5px;
	font-weight: 300;
	align-self: center;
}

.words {
	text-indent: 5px;
	height: 100%;
}

	.words span {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		position: absolute;
		opacity: 0;
		animation: slideWords 8s linear infinite;
	}

		.words span:nth-child(2) {
			animation-delay: 1.6s;
		}

		.words span:nth-child(3) {
			animation-delay: 3.2s;
		}

		.words span:nth-child(4) {
			animation-delay: 4.8s;
		}

		.words span:nth-child(5) {
			animation-delay: 6.4s;
		}

@keyframes slideWords {
	0%, 20% {
		opacity: 0;
	}

	10%, 15% {
		opacity: 1;
	}
}

.nav {
	width: 100%;
	height: 65px;
	line-height: 65px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	background-color: #152238;
	margin-left: auto;
}

	.nav div.logo {
		float: left;
		width: auto;
		height: 65px;
		padding-left: 3rem;
	}

		.nav div.logo a {
			text-decoration: none;
			color: #fff;
			font-size: 2rem;
		}

			.nav div.logo a:hover {
				color: #00E676;
			}

	.nav div.main_list {
		height: 65px;
		float: right;
	}

		.nav div.main_list ul {
			width: 100%;
			height: 65px;
			display: flex;
			list-style: none;
			margin: 0;
			padding: 0;
		}

			.nav div.main_list ul li {
				width: auto;
				height: 65px;
				padding: 0;
				padding-right: 3rem;
			}

				.nav div.main_list ul li a {
					text-decoration: none;
					color: #fff;
					line-height: 65px;
					font-size: 2rem;
				}

					.nav div.main_list ul li a:hover {
						color: #00E676;
					}

.navTrigger {
	display: none;
}

.nav {
	padding-top: 30px;
	padding-bottom: 30px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

@media screen and (max-width:900px) {

	.container {
		margin: 0;
	}

	.header {
		flex-direction: column;
	}

	.name {
		border-right: transparent;
		padding-right: 0;
		justify-content: center;
	}

	.home {
		padding-top: 10vh;
		padding-bottom: 20vh;
	}

	.description {
		justify-content: center;
		padding-left: 0;
	}

	.oneLiner {
		flex-direction: column;
		display: flex;
		font-family: 'Open Sans', sans-serif;
		font-size: 37.5px;
		font-weight: 300;
		align-self: center;
	}

	.words {
		text-indent: 5px;
	}

	.bodyp1 {
		padding-left: 5%;
		padding-right: 5%;
	}

	.bodyp2 {
		padding-left: 5%;
		padding-right: 5%;
	}

	.abouth, .servicesh, .contacth, .projectsh {
		padding-left: 5%;
		padding-right: 5%;
	}

	.aboutimg {
		margin-right: 1%;
		margin-left: 1%;
		width: 150px;
		height: 150px;
		float: none;
	}

	.nav div.logo a {
		font-size: 1.25rem;
	}

	.nav div.logo {
		margin-left: -5%;
	}

	.nav div.main_list {
		width: 100%;
		height: 0;
		overflow: hidden;
	}

	.nav div.show_list {
		height: auto;
		display: none;
	}

	.nav div.main_list ul {
		flex-direction: column;
		width: 100%;
		height: 100vh;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: #111;
		background-position: center top;
	}

		.nav div.main_list ul li {
			width: 100%;
			text-align: right;
		}

			.nav div.main_list ul li a {
				text-align: center;
				width: 100%;
				font-size: 3rem;
				padding: 20px;
			}

	.nav div.media_button {
		display: block;
	}
}

.navTrigger {
	cursor: pointer;
	width: 30px;
	height: 25px;
	position: fixed;
	right: 30px;
	top: 22.5px;
	bottom: 0;
}

	.navTrigger i {
		background-color: #fff;
		border-radius: 2px;
		content: '';
		display: block;
		width: 100%;
		height: 4px;
	}

		.navTrigger i:nth-child(1) {
			-webkit-animation: outT 0.8s backwards;
			animation: outT 0.8s backwards;
			-webkit-animation-direction: reverse;
			animation-direction: reverse;
		}

		.navTrigger i:nth-child(2) {
			margin: 5px 0;
			-webkit-animation: outM 0.8s backwards;
			animation: outM 0.8s backwards;
			-webkit-animation-direction: reverse;
			animation-direction: reverse;
		}

		.navTrigger i:nth-child(3) {
			-webkit-animation: outBtm 0.8s backwards;
			animation: outBtm 0.8s backwards;
			-webkit-animation-direction: reverse;
			animation-direction: reverse;
		}

	.navTrigger.active i:nth-child(1) {
		-webkit-animation: inT 0.8s forwards;
		animation: inT 0.8s forwards;
	}

	.navTrigger.active i:nth-child(2) {
		-webkit-animation: inM 0.8s forwards;
		animation: inM 0.8s forwards;
	}

	.navTrigger.active i:nth-child(3) {
		-webkit-animation: inBtm 0.8s forwards;
		animation: inBtm 0.8s forwards;
	}

.github-cards {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
}

.github-card {
	display: block;
	justify-content: center;
	box-sizing: border-box;
	border: 1px solid #ccc;
	margin: 10px;
	padding: 20px;
	color: #555;
	text-decoration: none;
	font-size: 13px;
	flex: 1;
	min-width: 300px;
}

	.github-card h3 {
		margin-top: 0;
		padding-bottom: 7.5px;
		color: #4078c0;
		font-size: 15px;
	}

.github-card__meta {
	margin-right: 20px;
}

	.github-card__meta i {
		font-size: 16px;
	}

@-webkit-keyframes inM {
	50% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(45deg);
	}
}

@keyframes inM {
	50% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(45deg);
	}
}

@-webkit-keyframes outM {
	50% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(45deg);
	}
}

@keyframes outM {
	50% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(45deg);
	}
}

@-webkit-keyframes inT {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}

	50% {
		-webkit-transform: translateY(9px) rotate(0deg);
	}

	100% {
		-webkit-transform: translateY(9px) rotate(135deg);
	}
}

@keyframes inT {
	0% {
		transform: translateY(0px) rotate(0deg);
	}

	50% {
		transform: translateY(9px) rotate(0deg);
	}

	100% {
		transform: translateY(9px) rotate(135deg);
	}
}

@-webkit-keyframes outT {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}

	50% {
		-webkit-transform: translateY(9px) rotate(0deg);
	}

	100% {
		-webkit-transform: translateY(9px) rotate(135deg);
	}
}

@keyframes outT {
	0% {
		transform: translateY(0px) rotate(0deg);
	}

	50% {
		transform: translateY(9px) rotate(0deg);
	}

	100% {
		transform: translateY(9px) rotate(135deg);
	}
}

@-webkit-keyframes inBtm {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}

	50% {
		-webkit-transform: translateY(-9px) rotate(0deg);
	}

	100% {
		-webkit-transform: translateY(-9px) rotate(135deg);
	}
}

@keyframes inBtm {
	0% {
		transform: translateY(0px) rotate(0deg);
	}

	50% {
		transform: translateY(-9px) rotate(0deg);
	}

	100% {
		transform: translateY(-9px) rotate(135deg);
	}
}

@-webkit-keyframes outBtm {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}

	50% {
		-webkit-transform: translateY(-9px) rotate(0deg);
	}

	100% {
		-webkit-transform: translateY(-9px) rotate(135deg);
	}
}

@keyframes outBtm {
	0% {
		transform: translateY(0px) rotate(0deg);
	}

	50% {
		transform: translateY(-9px) rotate(0deg);
	}

	100% {
		transform: translateY(-9px) rotate(135deg);
	}
}

.affix {
	padding: 0;
	background-color: #111;
}

.navheight {
	height: 60px;
}
